@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-menu {
  display: block;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  width: 0px;
  height: 0px;
}
